
body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: 'Sometype Mono', monospace;

}

.background {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: repeat-y;
    height: 840vh;

}


img {

    width: 100%;
}

.container {
   
}

.textContainer {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 340px;
}

input,
button {

    font-weight: bolder;
    background-color: bisque;
    box-shadow: 5px 5px 10px 10px #6d6df580;
    margin: 10px;
}

.menparent {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.mdiv1 {
    grid-area: 1 / 1 / 2 / 2;
}

.mdiv2 {
    grid-area: 3 / 3 / 4 / 4;
}

.mdiv3 {
    grid-area: 3 / 1 / 4 / 2;
}

.mdiv4 {
    grid-area: 5 / 4 / 6 / 5;
}

.mdiv5 {
    grid-area: 2 / 4 / 3 / 5;
}

.mdiv1 img {

    display: none;
}

.mdiv1-custom img,
.mdiv2-custom img {

    display: block;
}

.mdiv1 img,
.mdiv2 img,
.mdiv3 img,
.mdiv4 img,
.mdiv5 img {
    display: none;
    border-radius: 5%;
}

.foparent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.fdiv1 {
    grid-area: 4 / 5 / 5 / 6;
}

.fdiv2 {
    grid-area: 3 / 1 / 4 / 2;
}

.fdiv3 {
    grid-area: 1 / 2 / 2 / 3;
}

.fdiv4 {
    grid-area: 5 / 3 / 6 / 4;
}

.fdiv5 {
    grid-area: 2 / 4 / 3 / 5;
}


.fdiv1 img {

    display: none;
}

.fdiv1-custom img,
.fdiv2-custom img {
    display: block;
}

.fdiv1 img,
.fdiv2 img,
.fdiv3 img,
.fdiv4 img,
.fdiv5 img {
    display: none;
    border-radius: 5%;
}

.oparent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.odiv1 {
    grid-area: 4 / 5 / 5 / 6;
}

.odiv2 {
    grid-area: 3 / 1 / 4 / 2;
}

.odiv3 {
    grid-area: 1 / 2 / 2 / 3;
}

.odiv4 {
    grid-area: 5 / 3 / 6 / 4;
}

.odiv5 {
    grid-area: 2 / 4 / 3 / 5;
}


.odiv1 img {

    display: none;
}

.odiv1-custom img,
.odiv2-custom img {
    display: block;
}

.odiv1 img,
.odiv2 img,
.odiv3 img,
.odiv4 img,
.odiv5 img {
    display: none;
    border-radius: 5%;
}

.luparent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.ldiv1 {
    grid-area: 4 / 5 / 5 / 6;
}

.ldiv2 {
    grid-area: 3 / 1 / 4 / 2;
}

.ldiv3 {
    grid-area: 1 / 2 / 2 / 3;
}

.ldiv4 {
    grid-area: 5 / 3 / 6 / 4;
}

.ldiv5 {
    grid-area: 2 / 4 / 3 / 5;
}


.ldiv1 img {

    display: none;
}

.ldiv1-custom img,
.ldiv2-custom img {
    display: block;
}

.ldiv1 img,
.ldiv2 img,
.ldiv3 img,
.ldiv4 img,
.ldiv5 img {
    display: none;
    border-radius: 5%;
}

.article-text {
    width: 100px;
    height: 600px;
    position: absolute;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;


}

.article-text::-webkit-scrollbar {
    display: none;
}


.fish {
    position: relative;
  transform: translate(550%,5%);
    width: 200px;
    height: 200px;
   
}


.fish img {
    width: 100%;
   
    height: 100%;
  
    fill: blue;
filter: brightness(150%)saturate(200%);

}

.flottingbox {
    color: bisque;
    display: none
}

.text1,
.text2,
.text3,
.text4 {
    font-weight: 600;
    color: aquamarine;
    font-size: 250px;
    display: none;
}


.diamond-container {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); /* 同时进行平移和旋转 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 160px;
}

.diamond {
    width: 80px;
    height: 60px;
    background-color: transparent;
    position: relative;
    border: 2px solid rgb(255, 224, 224);
    box-shadow: 5px 5px 10px 10px #c3f56d80;
    animation: float 4s infinite alternate;
}

@keyframes float {
    0% {
        transform: translate(-70%, -50%) rotate(0deg) translateY(0) scale(1);
    }
    100% {
        transform: translate(-10%, -150%) rotate(85deg) translateY(80px) scale(2);
    }
}
